/* 
Copyright 2020 The Webments Maintainers and Contributors.
Use of this source code is governed by a LGPL-2.1-style license that can be
found in the LICENSE file.
*/


@font-face {
  font-family: Raleway;
  src: url(assets/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: Jetbrains;
  src: url(assets/fonts/JetBrainsMono-Regular.ttf);
}

html {
  font-family: 'Raleway';
  width: 100%;
  scrollbar-width: thin; 
  scrollbar-color: #484848 #212121;
}

::-webkit-scrollbar {
  width: 12px;               
}

::-webkit-scrollbar-track {
  background: none;        
}

::-webkit-scrollbar-thumb {
  background-color: #484848;   
  border-radius: 20px;       
  border: 2px solid #484848;  
}

.container {
  max-width: 66.5%;
  width: 66.5%;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 70px;
  margin-bottom: 86px;
  box-sizing: border-box;
  border: 4px solid #484848;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-bottom: 157px;
}

.sidebarul {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 30px;
}

.active {
  color: #ffffff5e !important;
}

.lev1 {
  font-size: 25px !important;
  color: #ffffff;
}

.lev1:hover {
  color: #ffffff91
}

.lev2 {
  font-size: 16px !important;
  color: #bdbdbd;
}

.lev2:hover {
  color: #bdbdbd90
}

.lastitem {
  margin-bottom: 20px;
}

.sidenav {
  float: right;
  max-width: 240px;
  width: auto;
  max-height: 81.1vh;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 0px;
  height: calc(100% - 86px);
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  border: 4px solid #484848;
  border-radius: 20px;
  z-index: 1;
  top: 0;
  right: calc(75% + 10px);
  background: none;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.title {
  margin-bottom: -30px;
}

.author {
  margin-top: -10px;
}

.elementsdiv {
  margin-top: 70px;
}

.elementdiv {
  margin-top: 50px;
}

button,
select {
  margin: 10px;
}

.repobuttons {
  margin-top: 20px;
}

.repobuttons button, .repobuttonstop button {
  margin: 3px;
}

.repobuttonstop {
  margin-top: 25px;
  margin-bottom: -40px;
}

.titleandsubtitlearea {
  margin-top: 50px;
  margin-bottom: -30px;
}

.elementtitle {
  margin-bottom: 10px;
}

.buttondiv1 {
  margin-bottom: 20px;
}

.fl,
.nv {
  margin: 20px 0;
}

.belowimg {
  display: inline-block;
  padding: 40px;
  padding-top: 35px;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-right: 20px;
  cursor: pointer;
}

.belowimg img {
  opacity: 50%;
  transition: 0.2s;
  width: 40px;
  border-radius: 8px;
  height: auto;
}

.belowimg img:hover {
  opacity: 100%;
  transition: 0.2s;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 1625px) {
 .grid {
  grid-template-columns: 1fr 1fr;
 }
 .container {
  max-width: 70%;
  width: 70%;
  margin-right: 5%;
  margin-left: 25%;
 }
 .sidenav {
  right: calc(75% + 10px);
 }
}

@media (max-width: 1060px) {
 .container {
  max-width: 98%;
  width: 98%;
  margin: 0 auto;
 }
 .sidenav {
  display: none;   
 }
}

@media (max-width: 586px) {
 .grid {
  grid-template-columns: 1fr;
 }
}    
    
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card {
  background: transparent;
  position: relative;
  border: 4px solid #484848;
  border-radius: 20px;
  max-width: 400px;
  overflow: hidden;
}

.card_content {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background: transparent;
}

.footericons {
  margin-bottom:-30px;
  margin-top:30px;
}

.card_title {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 20px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.card button {
  position: absolute;
  left: 10%;
  bottom: 20px;
}

code,
pre {
  font-family: 'Jetbrains' !important;
}

.learnmore {
  width: 80% !important;
  margin: 0;
}

.footercopyright {
  color: grey;
}

